<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdolSync Fandom Explorer</title>
    <link rel="stylesheet" href="/static/cssthings/stylish.css">
</head>

<body>
    <header>
        <h1>IdolSync Fandom Explorer</h1>
    </header>

    <nav>
        <a href="#home">HOME</a>
        <a href="#ratings">TV RATINGS</a>
        <a href="#characters">CHARACTERS</a>
        <a href="#calendar">BIRTHDAY CALENDAR</a>
        <a href="#games">MINIGAMES</a>
        <a href="#coins">COINS</a>
        <a href="#about">ABOUT</a>
    </nav>

    <div class="logo">
        <img src="new_logo.png" alt="New Logo">
    </div>


    <div id="welcome_">
        <section class="welcome"> 
        <h1>Welcome to IdolSync!</h1>
    </div>

    <div id="showcase">
        <section id="ratings">
            <h2>Show Ratings</h2>
            <p>View the average ratings of your favorite shows across three websites.</p>
        </section>

        <section id="characters">
            <h2>Characters</h2>
            <p>Buy roses for your favorite characters using the in-website currency "あい-coins".</p>
        </section>

        <section id="calendar">
            <h2>Birthday Calendar</h2>
            <p>Explore a calendar showcasing the birthdays of your idols!</p>
        </section>

        <section id="games">
            <h2>Minigames</h2>
            <p>Play quizzes and other minigames to earn more "あい-coins".</p>
        </section>
    </div>

    <footer>
        &copy; 2024 IdolSync Fandom Explorer. All rights reserved.
    </footer>

  
</body>

</html>
