body
{
   font-family : Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
    top: 0;
    height: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1{
    margin:0;
}


nav {
    background-color: #ddd;
    text-align: left;
    padding: 25px;
}

nav a {
    margin: 40px;
    text-decoration: none;
    color: #333;
}

#showcase nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#welcome_ {
    text-align: center;
    font-size: 200px;
}

showcase nav span
{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 205px;
}

ul
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#showcase i[class^=icon-] {
    line-height: 32px;
    width: 64px;
    height: 64px;
    background-color: #aaa;
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.icon-mg {
    background-position: 0 -42px;
}

[class^=icon-], [class*=' icon-'] {
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(/static/images/rategraph.png);
}
 
